In [30]:
import pandas as pd

In [45]:
tbl0 = pd.read_csv("C:/Github/Analitica_Descriptiva/Labs/LAB-02-pandas-JuanTA97/files/input/tbl0.tsv", sep="\t")
tbl2 = pd.read_csv("C:/Github/Analitica_Descriptiva/Labs/LAB-02-pandas-JuanTA97/files/input/tbl2.tsv", sep="\t")

In [46]:
tbl0_l2 = pd.merge(tbl0,tbl2, sort=True,)
tbl0_l2
#table = tbl0_l2[["c1", "c5b"]]

     c0 c1  c2          c3  c5a  c5b
0     0  E   1  1999-02-28  jjj    3
1     0  E   1  1999-02-28  bbb    0
2     0  E   1  1999-02-28  ddd    9
3     0  E   1  1999-02-28  ggg    8
4     0  E   1  1999-02-28  hhh    2
..   .. ..  ..         ...  ...  ...
170  38  E   1  1999-09-28  iii    2
171  38  E   1  1999-09-28  eee    0
172  39  E   5  1998-01-26  hhh    8
173  39  E   5  1998-01-26  ggg    3
174  39  E   5  1998-01-26  jjj    5

[175 rows x 6 columns]

In [47]:
table = tbl0_l2.groupby("c1")["c5b"].sum()
table

c1
A    146
B    134
C     81
D    112
E    275
Name: c5b, dtype: int64